@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
@import 'reset';

.fix-scrollbar {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 10px;
    border-top: none;
  }
  &::-webkit-scrollbar:vertical {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
  }
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    overflow: hidden;
    
}

main {
    
    
    
    .logo {
        position: fixed;
        left: 50%;
        background: white url("../assets/logo.png");
        background-size: contain;
        width: 100px;
        height: 120px;
        box-shadow: 0 0 2px rgba(0,0,0,0.5);
        transition: all 0.2s linear;
        &:hover {
            transform: scale(1.1);
        }
    }
    .controller {
        display: flex;
        flex-direction: column;
        height: 150px;
        position: fixed;
        text-align: right;
        top: calc(50% - 70px);
        right: 30px;
        justify-content: space-between;
        span.circle {
            cursor: pointer;
            transition: all 0.3s linear;
            position: relative;
            color: white;
            padding: 0 5px;
            &:after {
                content: '';
                margin-left: 5px;
                margin-right: 5px;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background: white;
                display: inline-block;
                width: 10px;
                height: 10px;
            }
        
            &:hover {
                background: rgba(0,0,0,0.3);
                &:after {
                    transform: scale(1.3);
                }
            }
            &:focus {
                box-shadow: 0 0 5px rgba(0,0,0,0.5);
            }
            
            &.selected {
                background: rgba(0,0,0,0.3);
                &:after {
                    background: #33a7db;
                }
            }
        }
    }
    .scroll {
        color: white;
        position: fixed;
        bottom: 0;
        left: 50%;
        padding: 10px 30px;
        font-size: 1.5em;
        cursor: pointer;
    }
    .slide {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        color: white;
        
        &.blur {
            -webkit-filter: blur(5px);
        }
        
        &-1 {
            background: url("../assets/take-action.jpg");
            background-size: cover;
        }
        &-2 {
            background: url("../assets/climate.jpg");
            background-size: cover;
        }
        &-3 {
            background: url("../assets/food.jpg");
            background-size: cover;
        }
        &-4 {
            background: url("../assets/forests.jpg");
            background-size: cover;
        }
        &-5 {
            background: url("../assets/fresh_water.jpg");
            background-size: cover;
        }
        &-6 {
            background: url("../assets/oceans.jpg");
            background-size: cover;
        }
        &-7 {
            background: url("../assets/wildlife.jpg");
            background-size: cover;
        }
        &-8 {
            background: url("../assets/main.jpg");
            background-size: cover;
            justify-content: center !important;
            .main-text {
                text-align: center !important;
            }
            p {
                height: auto !important;
                padding: 30px;
             }
        }
        
        
        .main-text {
            width: 70%;
            padding: 30px 80px;
            margin-top: 50px;
            background: rgba(0,0,0,0.5);
            h2 {
                font-size: 3em;
                text-transform: uppercase;
                margin-bottom: 15px;
            }
            p {
                font-family: Arial;
                font-size: 1.2em;
                line-height: 1.5em;
                height: 200px;
                overflow-y: scroll;
                padding-right: 15px;
                position: relative;
                
                &::-webkit-scrollbar {
                    -webkit-appearance: none;
                    width: 7px;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 4px;
                    background-color: rgba(255,255,255,.5);
                    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.5);
                }                
                
            }
        }
    }
}